<a href="https://colab.research.google.com/github/abasnezhad/Kaggle/blob/main/cleaning_data_(Netflix_title).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime

In [101]:

df = pd.read_csv('netflix_titles.csv')

In [102]:
df.sample(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4110,s4111,Movie,The Breaker Upperers,"Jackie van Beek, Madeleine Sami","Madeleine Sami, Jackie van Beek, James Rollest...",New Zealand,"February 15, 2019",2018,TV-MA,82 min,"Comedies, Independent Movies, International Mo...","For the right price, BFFs Jen and Mel will rut..."
7631,s7632,Movie,Nymphomaniac: Volume II,Lars von Trier,"Charlotte Gainsbourg, Stellan Skarsgård, Stacy...","Denmark, Germany, Belgium, United Kingdom, Fra...","August 25, 2018",2013,TV-MA,124 min,"Dramas, Independent Movies, International Movies",The second half of Lars von Trier's epic follo...

In [103]:
columns=list(df.columns)
columns

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [104]:
print("shape: ", df.shape)

shape:  (8807, 12)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [106]:
def count_nulls(col) : 
    global df
    if not df[col].isna().sum() == 0 : 
            print(f'Column {col} got {df[col].isna().sum()} nulls, Percentage : {round(100*df[col].isna().sum()/df.shape[0])} %')
for i in columns:
  count_nulls(i)

Column director got 2634 nulls, Percentage : 30 %
Column cast got 825 nulls, Percentage : 9 %
Column country got 831 nulls, Percentage : 9 %
Column date_added got 10 nulls, Percentage : 0 %
Column rating got 4 nulls, Percentage : 0 %
Column duration got 3 nulls, Percentage : 0 %

In [107]:
invalid_value = 9999
df["country"] = np.where((df["country"] == invalid_value), 
                          np.nan, 
                          df["country"])

In [110]:
str_cols=list(df.columns)
str_cols.remove('release_year')

In [111]:
# removing leading and trailing characters from columns with str type
for i in str_cols:
  df[i]=df[i].str.strip()

In [112]:
nan_cols=["director", "cast", "country", "date_added", "rating", "duration"]

for i in nan_cols:
  df[i]=df[i].fillna("")

In [118]:
# extracting months added and years added

nan_rows=list(df[df.date_added==""].index)

month_added = []
year_added = []

for i in range(len(df)):

  if i in nan_rows:
    
    month_added.append(0)
    year_added.append(0)
  else:
    data=df['date_added'].iloc[i].split(" ")
    month_added.append(data[0])
    year_added.append(int(data[2]))

In [128]:

# turning month names into month numbers
for i, month in enumerate(month_added):
    if month != 0:
        datetime_obj = datetime.strptime(month, "%B")
        month_number = datetime_obj.month
        month_added[i] = month_number

In [129]:
df.insert(7, "month_added", month_added, allow_duplicates = True)
df.insert(8, "year_added", year_added, allow_duplicates = True)

In [133]:

show=df[df["type"]=='TV Show']
film= df[df["type"]=='Movie']

In [140]:
# reseting the index of the new datasets

show=show.set_index([pd.Index(range(0,len(show)))])
film=film.set_index([pd.Index(range(0,len(film)))])